html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none !important;
}