html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .content {
    flex: 1;
  }
  

#dis_imgl{
    height: 274px;
    width: 270px;
    margin-left: 200px;
    margin-bottom: 20px;
}

#dis_imgr{
    height: 274px;
    width: 270px;
    margin-left: 170px;
    margin-bottom: 20px;
}
