#dis_imgl{
    height: 274px;
    width: 270px;
    margin-left: 200px;
    margin-bottom: 20px;
}

#dis_imgr{
    height: 274px;
    width: 270px;
    margin-left: 150px;
    margin-bottom: 20px;
}

